<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppLoadedTimes</key>
	<integer>0</integer>
	<key>DetailPageAutoSpeakOn</key>
	<true/>
	<key>LevelList</key>
	<array>
		<integer>100</integer>
		<integer>200</integer>
		<integer>350</integer>
		<integer>575</integer>
		<integer>912</integer>
		<integer>1418</integer>
		<integer>2178</integer>
		<integer>3317</integer>
		<integer>5025</integer>
		<integer>7588</integer>
		<integer>11433</integer>
		<integer>17199</integer>
	</array>
	<key>NotificationOn</key>
	<true/>
	<key>WordSets</key>
	<array>
		<dict>
			<key>arrowColor</key>
			<integer>12510205</integer>
			<key>categoryId</key>
			<integer>0</integer>
			<key>color</key>
			<integer>16729600</integer>
			<key>description</key>
			<string>为初学者准备的基础词汇，没有英语基础请从这里开始</string>
			<key>iconUrl</key>
			<string>Unit-1</string>
			<key>testMarked</key>
			<false/>
		</dict>
		<dict>
			<key>arrowColor</key>
			<integer>10606585</integer>
			<key>categoryId</key>
			<integer>1</integer>
			<key>color</key>
			<integer>16737792</integer>
			<key>description</key>
			<string>初级英语词汇，这些词汇对于您阅读短文和简单对话至关重要</string>
			<key>iconUrl</key>
			<string>Unit-2</string>
			<key>testMarked</key>
			<false/>
		</dict>
		<dict>
			<key>arrowColor</key>
			<integer>9359351</integer>
			<key>categoryId</key>
			<integer>2</integer>
			<key>color</key>
			<integer>16750592</integer>
			<key>description</key>
			<string>中级英语词汇，这些词汇能使您读懂大部分英语文章和进行日常交流</string>
			<key>iconUrl</key>
			<string>Unit-3</string>
			<key>testMarked</key>
			<false/>
		</dict>
		<dict>
			<key>arrowColor</key>
			<integer>10606585</integer>
			<key>categoryId</key>
			<integer>3</integer>
			<key>color</key>
			<integer>16759040</integer>
			<key>description</key>
			<string>高级英语词汇，这些词汇对于您完整理解英语文章十分关键</string>
			<key>iconUrl</key>
			<string>Unit-4</string>
			<key>testMarked</key>
			<false/>
		</dict>
		<dict>
			<key>arrowColor</key>
			<integer>12510205</integer>
			<key>categoryId</key>
			<integer>4</integer>
			<key>color</key>
			<integer>16767488</integer>
			<key>description</key>
			<string>高级英语词汇 , 帮助您无障碍阅读绝大部分非专业领域的英语文章</string>
			<key>iconUrl</key>
			<string>Unit-5</string>
			<key>testMarked</key>
			<false/>
		</dict>
	</array>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
