<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppLoadedTimes</key>
	<integer>0</integer>
	<key>DetailPageAutoSpeakOn</key>
	<true/>
	<key>LevelList</key>
	<array>
		<integer>100</integer>
		<integer>200</integer>
		<integer>350</integer>
		<integer>575</integer>
		<integer>912</integer>
		<integer>1418</integer>
		<integer>2178</integer>
		<integer>3317</integer>
		<integer>5025</integer>
		<integer>7588</integer>
		<integer>11433</integer>
		<integer>17199</integer>
	</array>
	<key>NotificationOn</key>
	<true/>
	<key>WordSets</key>
	<array>
		<dict>
			<key>arrowColor</key>
			<integer>12510205</integer>
			<key>categoryId</key>
			<integer>0</integer>
			<key>color</key>
			<integer>16729600</integer>
			<key>description</key>
			<string>最基本的托福词汇，有一定基础的可以跳过这个单元</string>
			<key>iconUrl</key>
			<string>Unit-1</string>
			<key>testMarked</key>
			<false/>
		</dict>
		<dict>
			<key>arrowColor</key>
			<integer>10606585</integer>
			<key>categoryId</key>
			<integer>1</integer>
			<key>color</key>
			<integer>16737792</integer>
			<key>description</key>
			<string>基本托福词汇，达到及格底线必备的词汇</string>
			<key>iconUrl</key>
			<string>Unit-2</string>
			<key>testMarked</key>
			<false/>
		</dict>
		<dict>
			<key>arrowColor</key>
			<integer>9359351</integer>
			<key>categoryId</key>
			<integer>2</integer>
			<key>color</key>
			<integer>16750592</integer>
			<key>description</key>
			<string>中级托福词汇，这些词汇能帮到您顺畅做题</string>
			<key>iconUrl</key>
			<string>Unit-3</string>
			<key>testMarked</key>
			<false/>
		</dict>
		<dict>
			<key>arrowColor</key>
			<integer>10606585</integer>
			<key>categoryId</key>
			<integer>3</integer>
			<key>color</key>
			<integer>16759040</integer>
			<key>description</key>
			<string>高级托福词汇，掌握这些词汇有助于您无障碍阅读</string>
			<key>iconUrl</key>
			<string>Unit-4</string>
			<key>testMarked</key>
			<false/>
		</dict>
		<dict>
			<key>arrowColor</key>
			<integer>12510205</integer>
			<key>categoryId</key>
			<integer>4</integer>
			<key>color</key>
			<integer>16767488</integer>
			<key>description</key>
			<string>高级托福词汇 , 帮助您冲刺托福最高分</string>
			<key>iconUrl</key>
			<string>Unit-5</string>
			<key>testMarked</key>
			<false/>
		</dict>
	</array>
	<key>Version</key>
	<integer>1</integer>
	<key>AppID</key>
	<string>501279743</string>
	<key>AppKey</key>
	<string>4f38e1a75270157d6300000e</string>
</dict>
</plist>
